---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_BLOG_TITLE, SITE_BLOG_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title={SITE_BLOG_TITLE} description={SITE_BLOG_DESCRIPTION}>
    <ul>
        {
            posts.map((post) => (
                <li id={post.id}>
                    <a href={`/blog/${post.id}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
