---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

import Wrapper from "@/components/molecules/Wrapper.astro";
import { formattedDate } from "@/libs/date";

type Props = CollectionEntry<"blog">["data"] & {
    minutesToRead?: any;
};

const { title, description, pubDate, minutesToRead } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <main>
        <article>
            <Wrapper
                class="prose prose-zinc prose-sm prose-headings:text-zinc-100 prose-p:text-zinc-400 prose-li:text-zinc-400 prose-ul:text-zinc-400 prose-a:no-underline prose-a:hover:underline prose-a:text-zinc-300 prose-strong:text-zinc-50 prose-code:text-zinc-300"
            >
                <h1>{title}</h1>
                <div class="not-prose text-zinc-200">
                    <span>{formattedDate(pubDate)}</span> ·
                    <span>{minutesToRead}</span>
                </div>
                <slot />
            </Wrapper>
        </article>
    </main>
</BaseLayout>
